#login_h1 {
   color: #333333;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: auto;
   background: url('https://yastatic.net/s3/lyceum/content/images/second-year/web/MARS-2-7.png') no-repeat;
   padding-left: 155px;
}
.post{
    border: 2px solid black;
    border-radius: 10px;
}
#news{
    max-width: 60%;
    margin-left: 2%;
    margin-right: 2%;
}
.private{
    color: rgb(100, 100, 180);
    display:inline-block;
}
h2, .buttons, table {
    margin-left: 2%;
    margin-right: 2%;
}
.forms{
    margin-left: 10%;
    margin-right: 10%;
}
#search_results {
    margin-top: -500px;
}
#itemImage {
	height: 600px;
	width: 400px;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
.display {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#products_table {
    border-collapse: separate;
	border-spacing: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

#productName {
	text-align: center;
	font-weight: bold;
}

#productPrice {
	text-align: center;
}

.displayCategory ul li {
	font-size: 20px;
}
html,
body,
.intro {
  height: 60%;
}
form {
      margin-left: 400px;
      margin-right: auto;
      width: 1000px;
      text-align: center;
      background-color: #eee;
      padding: 20px;
      border-radius: 5px;
}
input[type="text"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
button[type="submit"] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #45a049;
}


#product_description {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	font-size: 19px;
}

#descriptionTable td {
	width: 150px;
}
#product_descriptionImage {
	height: 250px;
	width: 200px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	float: left;
}
#users_prod {
  padding-left: 200px;
}