{% extends "base.html" %}

{% block content %}
<div id="work_logs">
    {% if current_user.is_authenticated %}
    <br/>
    {% endif %}
    <section class="intro">
      <div class="bg-image h-100" style="
              background-color: rgb(167, 152, 239);
            ">
        <div class="mask d-flex align-items-center h-100">
          <div class="container">
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group">
                      <a class="input-group-text text-body dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-mdb-toggle="dropdown" aria-expanded="false">Categories</a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Accessories</a></li>
                        <li><a class="dropdown-item" href="#">Clothing</a></li>
                        <li><a class="dropdown-item" href="#">Footwear</a></li>
                        <li><a class="dropdown-item" href="#">Ladies</a></li>
                        <li><a class="dropdown-item" href="#">Men</a></li>
                        <li><a class="dropdown-item" href="#">New Arrivals</a></li>
                        <li><a class="dropdown-item" href="#">Sale</a></li>
                      </ul>
                      <div class="form-outline flex-fill">
                        <input type="search" id="form1" class="form-control form-control-lg" />
                        <label class="form-label" for="form1">Enter keywords?</label>
                      </div>
                      <button type="button" class="btn btn-success">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div>
        <h2>Items</h2>
        {% for data in itemData %}
        <table id="products_table">
            <tr id="productName">
                {% for row in data %}
                <td>
                    {{row[1]}}
                </td>
                {% endfor %}
            </tr>
            <tr id="productImage">
                {% for row in data %}
                <td>
                    <a href="/product_description/{{row[0]}}">
                        <img src="{{ url_for('static', filename='uploads/' + row[4]) }}" id="itemImage"/>
                    </a>
                </td>
                {% endfor %}
            </tr>
            <tr id="productPrice">
                {% for row in data %}
                <td>
                    ${{row[2]}}
                </td>
                {% endfor %}
            </tr>
        </table>
        {% endfor %}
    </div>
</div>
{% endblock %}
