{% extends "base.html" %}

{% block content %}
<style>
    d-flex {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #AFCDE7;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #D8E6F3;
}
th:first-child, td:first-child {
text-align: left;
}
.yours{
text-decoration: none;
  display: inline-block;
  color: black;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #DEB887 0%, #D2B48C 51%, #CD853F 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.yours:hover{
 background-position: right center;
}
</style>
<h2 id="spec2">Rooms log</h2>
<div id="users_prod">
{% if current_user.is_authenticated %}
    <a href="/add_product" class="btn btn-secondary">Добавить новый товар</a>
    <br/>
{% endif %}
{% for product in data %}
    <h5>Товар № {{ product[4] }}</h5>
    <div class="buttons">
        <a href="/product_description/{{ product[4] }}" class="yours">Перейти</a>
        <a href="/add_product/{{ product[4] }}" class="yours">Изменить</a>
        <a href="/delete_product/{{ product[4] }}" class="yours">Удалить</a>
        <a href="/delete_product/{{ product[4] }}" class="yours">Товар был успешно куплен</a>
    </div>
    <br/>
    <table class="table">
      <thead class="thead-light">
        <tr class="d-flex" id="th_style">
          <th scope="col" class="col-2">Название</th>
          <th scope="col" class="col-4">Описание</th>
          <th scope="col" class="col-2">Цена</th>
          <th scope="col" class="col-2">Категория</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" >
          <td class="col-2">{{ product[0] }}</td>
          <td class="col-4">{{ product[1] }}</td>
          <td class="col-2">{{ product[2] }}</td>
          <td class="col-2">{{ product[3] }}</td>
        </tr>
      </tbody>
    </table>
{% endfor %}
</div>
{% endblock %}